name: CI

on: [push]

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: true
    - uses: actions/cache@v4
      id: cache
      with:
        path: |
          .venv
          .tox
        key: tox-${{ runner.os }}-${{ hashFiles('poetry.lock') }}
    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: poetry install --no-root --sync
    - name: flake8
      run: poetry run tox -e flake8
    - name: black
      run: poetry run tox -e black
    - name: isort
      run: poetry run tox -e isort
    - name: mypy
      run: poetry run tox -e mypy
